In [1]:
from utils.session_builder import get_session_deltalake

spark = get_session_deltalake("Create delta table")

spark

In [2]:
spark.sql("show databases;").show()

+---------+
|namespace|
+---------+
|   bronze|
|  default|
+---------+

In [3]:
data = ([1,"A"], [2,"B"], [3,"C"], [4,"D"],)
col = ["Id", "Name"]

df = spark.createDataFrame(data, col)

df.show()

+---+----+
| Id|Name|
+---+----+
|  1|   A|
|  2|   B|
|  3|   C|
|  4|   D|
+---+----+

**** CREATE MANAGED DELTA TABLE

In [5]:
spark.sql("use bronze;")

# create managed table from python
df.write.format("delta").mode("overwrite").saveAsTable("managed_delta_python")

# create managed table from sql Create table and then insert rows
spark.sql("CREATE TABLE if not exists managed_delta_sql_1(Id int,name string) USING DELTA")
df.createOrReplaceTempView("df_temp")
spark.sql("INSERT INTO managed_delta_sql_1 SELECT * FROM df_temp")

# create managed table from sql CTAS
spark.sql("CREATE TABLE if not exists managed_delta_sql_2 USING DELTA AS SELECT * FROM df_temp")

DataFrame[]

In [ ]:
**** CREATE UNMANAGED DELTA TABLE

In [ ]:
# create UNmanaged table from python
df.write.format("delta").mode("overwrite").save("/warehouse/gold.db/unmanaged_delta_python")

# create UNmanaged table from sql
spark.sql("CREATE TABLE IF NOT EXISTS unmanaged_delta_sql USING DELTA LOCATION '/warehouse/gold.db/unmanaged_delta_sql' AS SELECT * FROM df_temp ")

In [ ]:
# update table
spark.sql("UPDATE gold.managed_delta_python SET name = 'Gab' where id = 1")