In [1]:
run ./00_Load_Demo_Data.ipynb

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- department_id: string (nullable = true)
 |-- department_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- budget: string (nullable = true)

In [8]:
# joins

all_data = emp.alias("e").join(dept.alias("d"), how="inner", on= (emp.department_id==dept.department_id) & (emp.department_id == "102"))

all_data.select("e.employee_id", "d.department_name", "e.salary").show(5)

+-----------+---------------+------+
|employee_id|department_name|salary|
+-----------+---------------+------+
|        003|      Marketing| 55000|
|        004|      Marketing| 48000|
|        008|      Marketing| 51000|
|        020|      Marketing| 53000|
+-----------+---------------+------+

In [11]:
# aggregations
from pyspark.sql.functions import count, sum

(
  emp
  .groupBy("department_id")
  .agg(count("employee_id").alias("NumOfEmployees"), sum("salary").alias("totalCost"))
).show()

+-------------+--------------+---------+
|department_id|NumOfEmployees|totalCost|
+-------------+--------------+---------+
|          101|             3| 165000.0|
|          102|             4| 207000.0|
|          103|             4| 232000.0|
|          104|             3| 162000.0|
|          105|             2| 111000.0|
|          106|             2| 138000.0|
|          107|             2|  95000.0|
+-------------+--------------+---------+